/* Estilo para la flecha */
.back-to-top {
    position: fixed; /* Fija la flecha en una posición específica */
    top: 10px; /* 20px desde la parte superior */
    left: 50%; /* Centra la flecha horizontalmente */
    transform: translateX(800%); /* Ajuste para que esté perfectamente centrada */
    color: #8A2BE2; /* Color del texto (flecha) */
    font-size: 50px; /* Tamaño de la flecha */
    text-decoration: none; /* Elimina el subrayado */
 }
 
 
 /* Cambiar el fondo cuando se pasa el ratón */
 .back-to-top:hover {
    color: #9370DB; /* Cambia el fondo al pasar el ratón */
 }
 
 