/* Estilos básicos para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Estilos del header */
header {
    background-color: #6c4675;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilos del menú de navegación */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center; /* Centrar el contenido dentro de nav */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex; /* Usamos inline-flex para que los elementos estén en línea y se centren */
    justify-content: center; /* Centrar los elementos de la lista */
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Cambiar color a morado cuando el ratón pase por encima */
nav ul li a:hover {
    background-color: #6c4675; /* Morado claro */
}

/* Cambiar color a morado más fuerte cuando el enlace esté activo (clicado) */
nav ul li a:active {
    background-color: rgb(90, 23, 171); /* Morado más fuerte */
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para el cuerpo principal */
main {
    padding: 20px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
}

th {
    background-color: #2b4f6c;
    color: white;
}

td {
    background-color: white;
}

.nivell {
    font-weight: bold;
    text-transform: uppercase;
}

.nivell.forca {
    color: #5bc0de;
}

.nivell.molt {
    color: #f39c12;
}

.nivell.poc {
    color: #e74c3c;
}

.nivell.res {
    color: #bdc3c7;
}

/* Estilos adicionales para la sección de introducción */
.registre-aprenentatge {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.registre-aprenentatge h2 {
    color: #2b4f6c;
}

.registre-aprenentatge table {
    margin-top: 10px;
}

.registre-aprenentatge td, .registre-aprenentatge th {
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos para el menú desplegable circular */
select {
    border: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

select:hover {
    background-color: #dcdcdc;
}

option[value="res"] {
    background-color: red;
    color: white;
}

option[value="poc"] {
    background-color: orange;
    color: white;
}

option[value="forca"] {
    background-color: yellow;
    color: black;
}

option[value="molt"] {
    background-color: green;
    color: white;
}
